.str
{
    color: #61ce3c;
}
.kwd
{
    color: #fbde2d;
}
.com
{
    color: #aeaeae;
}
.typ
{
    color: #ddd;
}
.lit
{
    color: #fbde2d;
}
.pun
{
    color: #ddd;;
}
.pln
{
    color: #8da6ce;
}
.tag
{
    color: #8AC763;
}
.atn
{
    color: #E0E2E4;
}
.atv
{
    color: #EC7600;
}
.dec
{
    color: purple;
}
pre.prettyprint
{
    border-radius: 5px;
    margin: 2px;
    padding: 3px;
}
ol.linenums
{
    margin-top: 0;
    margin-bottom: 0;
}
.prettyprint {
    background: #0d152a;
}
